<h1>StaticPages#homess</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<a href="/auth/twitter">
  <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png">
</a>